.articlesContiner{
    position: relative;
    padding: 20px;
    max-width: 60vw;
    margin: 0 auto;
}


.articleContiner{
    position: relative;
    text-align: justify;

}
.title{
    text-align: center;
}