.articlesContiner{
    position: relative;
    padding: 20px;
    max-width: 60vw;
    margin: 0 auto;
}


.articleContiner{
    position: relative;
    text-align: justify;
    border:1px solid grey;
    margin: 50px;
    padding: 10px;
    box-shadow: 0 0 10px black;
    overflow: hidden;
    height: 20vh;

}
.articleContinerExpanded{
    position: relative;
    text-align: justify;
    border:1px solid grey;
    margin: 50px;
    padding: 10px;
    box-shadow: 0 0 10px black;
    height: auto;

}
.title{
    text-align: center;
}
.filter:hover{
    color: lightgray;
  
}
.filterMainWraper{
    display:flex;
    align-items: baseline;
}
.filterOptions{

    overflow: hidden;
    width: auto;
    padding-right: 30px;

}

.optionBar{
    display: flex;
   position: relative;
    background-color: lightgray;
    border-radius: 0 10px 10px 0;
    left: -300px;
}
.optionBar p{
    margin: 5px;
}
.wraperForDots{
    position: relative;

    
}
.dotsToExpand{
  position: absolute;
    top: 95%;
    width: min-content;
font-size: 2rem;

    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
}
.dotsToExpand:hover{
    color: lightgray;
}
